---
title: GitLab
owner: Partners
---

<style>
.note.warning {
  background-color: #fdd;
  border-color: #fbb
}
.note.warning:before {
  color: #f99;
}
</style>


This is documentation for [GitLab Enterprise Plus for Pivotal Cloud Foundry (PCF)](https://network.pivotal.io/products/p-gitlab).

<p class="note warning"><strong>IMPORTANT</strong>: As of September 13, 2017, the GitLab Enterprise Plus for Pivotal Cloud Foundry tile on
  Pivotal Network has reached its End of Availability ("EoA") and is no longer available for download or sale through Pivotal. Current
  customers with active subscriptions will continue to receive support from GitLab through their subscription term. Pivotal and GitLab are
  collaborating on creating a new Kubernetes-based tile for the Pivotal Container Service. Please contact GitLab support with any
  questions regarding GitLab Enterprise Plus for Pivotal Cloud Foundry.</p>

## Product Snapshot

The following table provides version and version-support information about GitLab for PCF</a>:

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>v1.4.3</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>February 7, 2018</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>GitLab Enterprise Edition v10.2.7</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.7.x through v1.12.x</td>
    </tr>
    <tr>
        <td>Compatible Elastic Runtime version(s)</td>
        <td>v1.7.x through v1.12.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, GCP, OpenStack, and vSphere</td>
    </tr>
</table>

## Upgrading to the Latest Version

Consider the following compatibility information before upgrading GitLab for PCF.

<table border="1" class="nice">
<tr>
  <th>Ops Manager Version</th>
  <th>Supported Upgrades from Imported GitLab Installation</th>
</tr>
<tr>
  <th>v1.7.x through v1.12.x</th>
  <td>v1.3.0, v1.4.0
  </td>
</tr>
</table>

## Install via Pivotal Operations Manager

To install GitLab for PCF, follow the procedure for installing Pivotal Ops Manager tiles:

1. Download the product file from [Pivotal Network](https://network.pivotal.io/).
1. Upload the product file to your Ops Manager installation.
1. Click **Add** next to the uploaded product description in the Available Products view to add this product to your staging area.
1. Click the newly added tile to review any configurable options.
1. Click **Apply Changes** to install the service.

## Security
The following ports and ranges are used in this service:

* Destination port 80 access to the GitLab VMs from the PCF Router
* Destination port 22 access to the GitLab VMs from outside of the PCF Network
* Destination port 2222 for SSH access to the `gitlab-ee` instances
* Outbound port 2049 for access to an external NFS Server
* Outbound ports for SMTP (one of 25, 587, 465)
* Outbound ports for LDAP if configured (one of 389 or 636)

## Feedback

Please provide any bugs, feature requests, or questions to [the Pivotal Cloud Foundry Feedback list](mailto:pivotal-cf-feedback@pivotal.io).

## Further Reading

* [Additional information on the GitLab Tile](https://docs.gitlab.com/ee/install/pivotal/index.html)
* [Official GitLab Documentation](http://doc.gitlab.com/ee/)
