---
title: GitLab
owner: Partners
---

This is documentation for the [GitLab service for Pivotal Cloud Foundry](https://network.pivotal.io/products/p-gitlab).

## Product snapshot

The following table provides version and version-support information about GitLab for <a href="https://network.pivotal.io/products/pivotal-cf">Pivotal Cloud Foundry</a>:

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v1.2.2</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>June 14, 2017</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>GitLab Enterprise Edition v9.1.7</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.6.x, v1.7.x, v1.8.x, v1.9.x</td>
    </tr>
    <tr>
        <td>Compatible Elastic Runtime version(s)</td>
        <td>v1.6.x, v1.7.x, v1.8.x, v1.9.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, GCP, OpenStack, and vSphere</td>
    </tr>
</table>

## Upgrading to the Latest Version

Consider the following compatibility information before upgrading GitLab for Pivotal Cloud Foundry.

<table border="1" class="nice">
<tr>
  <th>Ops Manager Version</th>
  <th>Supported Upgrades from Imported GitLab Installation</th>
</tr>
<tr>
  <th> v1.9.x, v1.8.x, v1.7.x, v1.6.x</th>
  <td>From v1.1.3 to v1.2.2
  </td>
</tr>
</table>

## Install via Pivotal Operations Manager

To install GitLab for PCF, follow the procedure for installing Pivotal Ops Manager tiles:

1. Download the product file from [Pivotal Network](https://network.pivotal.io/).
1. Upload the product file to your Ops Manager installation.
1. Click **Add** next to the uploaded product description in the Available Products view to add this product to your staging area.
1. Click the newly added tile to review any configurable options.
1. Click **Apply Changes** to install the service.

## Security
The following ports & ranges are used in this service:

* Destination port 80 access to the GitLab VMs from the PCF Router
* Destination port 22 access to the GitLab VMs from outside of the PCF Network
* Destination port 2222 for SSH access to the `gitlab-ee` instances
* Outbound port 2049 for access to an external NFS Server
* Outbound ports for SMTP (one of 25, 587, 465)
* Outbound ports for LDAP if configured (one of 389 or 636)

## Feedback

Please provide any bugs, feature requests, or questions to [the Pivotal Cloud Foundry Feedback list](mailto:pivotal-cf-feedback@pivotal.io).

## Further Reading

* [Official GitLab Documentation](http://doc.gitlab.com/ee/)
